@import "tailwindcss";




@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}
.scroll-left {
  animation: scroll-left 1s linear infinite;
}
.scroll-right {
  animation: scroll-right 1s linear infinite;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


html {
    scroll-behavior: smooth;
  }
  