* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: hsl(174, 100%, 96%);
}

/*---------------- Sidebar ----------------*/
.sidebar {
  width: 230px;
  height: 100vh;
   background: hsl(174, 100%, 96%);
  border-right: 2px solid #a3a1a1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
}

.top-section {
  padding: 0 20px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.avatar i {
  font-size: 40px;
  color: #3f51b5;
  margin-right: 10px;
}



.info h4 {
  font-size: 16px;
  margin-bottom: 2px;
}

.info span {
  font-size: 12px;
  color: #888;
}


.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  color: #333;
  text-decoration: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background 0.3s, color 0.3s;
}

.menu-item i {
  margin-right: 10px;
  font-size: 18px;
}

.menu-item:hover {
  background-color: #c4c2f7;
  color: #000000;
}

.menu-item.active {
  background-color: #4759fc;
  color: #ffffff;
}

.bottom-section {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

/*---------------- Content Wrapper ----------------*/
.main-content {
  margin-left: 230px;
  padding: 20px;
}

/*---------------- Header / Topbar ----------------*/
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 30px;
  border-bottom: 1px solid #e0e0e0;
  width: 1670px;
  position: relative;
  left: 240px;
  top: 10px;
  border-radius: 10px;
  background-color: rgb(168, 172, 233);
    
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

}

.topbar h2 {
  font-size: 30px;
  font-weight: 600;
  color: #333;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification-icon {
  font-size: 20px;
  position: relative;
}

.notification-icon::after {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
}


.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar i {
  font-size: 32px;
  color: #3f51b5;
}

.user-info .name {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.user-info .email {
  font-size: 12px;
  color: #413f3f;
}

/*---------------- Welcome Box ----------------*/
.welcome-box {
  background-color: #436df7;
  color: white;
  padding: 25px 30px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
  width: 1670px;
  height: 75px;
  position: relative;
  left: 240px;
  top: 20px;
}



.export-btn {
        background-color: #001380;
        color: white;
      border: 1px solid #ccc;
      padding: 10px 16px;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 500;
      position: relative;
      left: 1440px;
      top: -35px;
    }

    .export-btn i {
    position: relative;
    font-size: 20px;
    left: -5px;
   }

   .export-btn:hover{
    background-color: #209e07;
  color: #ffffff;
   }

.card-container{
    height: 410px;
    width: 1300px;
    position: relative;
    left: 240px;
    
    top: 15px;
}

.job-card_1 {
      background: rgb(242, 252, 250);
     
      border-radius: 10px;
     
      padding: 20px;
      width: 458px;
      height: 380px;
     
      position: relative;
      top: 40px;
      left: 15px;
      
      box-shadow: 0 8px 32px rgba(5, 12, 107, 0.25);
      backdrop-filter: blur(50px);

    }

    

 .job-card_1 h3 {
      margin: 0;
       position: relative;
      top: 14px;
      
    }

     .job-card_1 p {
      font-size: 16px;
      color: #666;
      margin: 8px 0;
      position: relative;
      top: 30px;

    }

    .job-card_1 .badge {
      position: relative;
      top: 20px;
      right: 20px;
      background: #e0f3ff;
      color: #007bff;
      padding: 4px 10px;
      border-radius: 12px;
      font-size: 12px;
      left: 298px;
      width: 96px;
    }

    .job-card_1 .company {
      color: gray;
      margin: 5px 0;
      position: relative;
      top: 10px;
    }

   .job-details {
      font-size: 14px;
      color: #333;
      position: relative;
      top: 22px;
      left: 18px;
    }

    .job-details_1 {
      display: grid;
      flex-wrap: wrap;
      gap: 5px;
      font-size: 14px;
      margin: 10px 0;
      width: 145px;
      position: relative;
      top: 32px;
    }
    

    .job-details_2 {
      display: grid;
      flex-wrap: wrap;
      gap: 10px;
      font-size: 14px;
      left: 209px;
      top: -25px;
      position: relative;
      margin: 10px 0;
      width: 145px;
    }


    .view-btn {
      display: block;
      width: 100%;
      padding: 8px;
      text-align: center;
      border: 1px solid #007bff;
      color: white;
      background-color: #001380;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 10px;
      position: relative;
      top: 31px;
    }

    .view-btn:hover {
      background: #ff0000;
      color: white;
    }

    .job-card_2 {
      background: rgb(242, 252, 250);
     
      border-radius: 10px;
     
      padding: 20px;
      width: 458px;
      height: 382px;
     
      position: relative;
      top: -340px;
      left: 558px;
      
      box-shadow: 0 8px 32px rgba(5, 12, 107, 0.25);
      backdrop-filter: blur(50px);

    }

    

 .job-card_2 h3 {
      margin: 0;
       position: relative;
      top: 19px;
      font-size: 18px;
    }

     .job-card_2 p {
      font-size: 15px;
      color: #666;
      margin: 8px 0;
      position: relative;
      top: 37px;
    }

    .job-card_2 .badge {
      position: relative;
      top: 20px;
      right: 20px;
      background: #e0f3ff;
      color: #007bff;
      padding: 4px 10px;
      border-radius: 12px;
      font-size: 12px;
      left: 298px;
      width: 96px;
    }

    .job-card_2 .company {
      color: gray;
      margin: 5px 0;
      position: relative;
      top: 10px;
    }

    .tags_1 {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      margin: 10px 0;
      position: relative;
      top: 16px;
    }

    .tag_1 {
      background: #e9ecef;
      padding: 5px 10px;
      border-radius: 12px;
      font-size: 12px;
    }

     .tags_2 {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      margin: 10px 0;
      position: relative;
      top: 16px;
    }

     .tag_2 {
      background: #e9ecef;
      padding: 5px 10px;
      border-radius: 12px;
      font-size: 12px;
    }


    .job-card_3 {
      background: rgb(242, 252, 250);
     
      border-radius: 10px;
     
      padding: 20px;
      width: 458px;
      height: 382px;
     
      position: relative;
      top: -723px;
      left: 1100px;
      
      box-shadow: 0 8px 32px rgba(5, 12, 107, 0.25);
      backdrop-filter: blur(50px);

    }

    

 .job-card_3 h3 {
      margin: 0;
       position: relative;
      top: 19px;
      font-size: 18px;
    }

     .job-card_3 p {
      font-size: 15px;
      color: #666;
      margin: 8px 0;
      position: relative;
      top: 37px;
    }

    .job-card_3 .badge {
      position: relative;
      top: 20px;
      right: 20px;
      background: #e0f3ff;
      color: #007bff;
      padding: 4px 10px;
      border-radius: 12px;
      font-size: 12px;
      left: 298px;
      width: 96px;
    }

    .job-card_3 .company {
      color: gray;
      margin: 5px 0;
      position: relative;
      top: 10px;
    }


    .job-card_4 {
      background: rgb(242, 252, 250);
     
      border-radius: 10px;
     
      padding: 20px;
      width: 458px;
      height: 382px;
     
      position: relative;
      top: -680px;
      left: 15px;
      
      box-shadow: 0 8px 32px rgba(5, 12, 107, 0.25);
      backdrop-filter: blur(50px);

    }

    

 .job-card_4 h3 {
      margin: 0;
       position: relative;
      top: 19px;
      font-size: 18px;
    }

     .job-card_4 p {
      font-size: 15px;
      color: #666;
      margin: 8px 0;
      position: relative;
      top: 37px;
    }

    .job-card_4 .badge {
      position: relative;
      top: 20px;
      right: 20px;
      background: #e0f3ff;
      color: #007bff;
      padding: 4px 10px;
      border-radius: 12px;
      font-size: 12px;
      left: 298px;
      width: 96px;
    }

    .job-card_4 .company {
      color: gray;
      margin: 5px 0;
      position: relative;
      top: 10px;
    }